<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajax</title>
</head>
<body>
    
</body>
<!-- axios 라이브러리를 사용하기 위한 링크 설정 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.get('../example/books/')  // 데이터 가져오기
    .then((response) => console.log(response.data)) // fetch의 두개의 문장을 합친것과 동일
    .catch((error) => console.log(error));
</script>
</html>